<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smart_Asset.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smart_Asset.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Smart_Asset.Settings2>
            <setting name="kel" serializeAs="String">
                <value />
            </setting>
        </Smart_Asset.Settings2>
    </applicationSettings>
    <userSettings>
        <Smart_Asset.Settings1>
            <setting name="type" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="brand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="propertyID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serialNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="poNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="siNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warranty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="supplier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warrantyStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="purchaseDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>False</value>
            </setting>
        </Smart_Asset.Settings1>
    </userSettings>
</configuration>